body { font: 400 1em Roboto, Arial, sans-serif;text-decoration: none; margin: 0}
body * {margin: 0px}
a {text-decoration: none; text-transform: uppercase; cursor:pointer}
a, a:visited, a:active { color: inherit;}
a:hover {color:#2d2d2d}
#topBar {text-align: right; background-color: rgba(0,0,0,0.5);color: #fff;
    padding-top: 0.5em;
    height: 1.5em;
    position: absolute;
    z-index: 99999999;
    top: 0px;
    width: 100%;}
#topBar>* {padding: 5px}
#topBar a:last-of-type { margin-right: 2em;}
#menu {background-color: rgba(0,0,0,0.3);height:15em;    position: absolute;background-repeat: no-repeat;background-image: url("/assets/images/ABCLEGAL-transparente.png");
    top: 2em;
    width: 100%;
    z-index: 999;}

#menuItems a {font-weight: 100; font-size:1em}
#menuItems {list-style-type: none; padding-left: 10px; color: #fff;padding-top: 3em; padding-right: 2em;}
#menuItems li {list-style-type: none; float: right; padding-left: 2em; text-transform: capitalize;}
#menuItems li:hover{color:#2d2d2d}
@media (max-width:820px){
    #menuItems{display: none}
}

.hamburger{right: 1.1em;position: absolute;top: 1em;font-size: 2em;color: #fff;cursor:pointer}
@media (min-width:821px){
    .hamburger{display: none}
}
@media (max-width:820px){
    .hamburger{display: block}
}

.section {text-align: center;margin:3em; border-bottom-color: #4ebead;padding-bottom: 1em;}
.sectionTitle {font-weight: 100;font-size: 2em; text-transform: uppercase;border-bottom-color: #4ebead;  border-bottom-width: 1px;  border-bottom-style: solid;}


@media (min-width:580px){
    .sectionTitle {padding-left: 1em;padding-right: 1em;}
}

.sectionBody {margin: 2em;}
.sectionLink {color: #777777}
.sectionLink a {padding-right: 20px;}
.sectionLink a:after { content: '\f054';font-family: FontAwesome;}
.bigContent .sectionBody{font-weight: bold; font-size: 3em; margin: 0.5em;}

@media (min-width:1101px){
    .areaSquare{width: 25%;}
    .blogSquare{width: 25%;}
    #areasOuterContainer{overflow-x:hidden}
}
@media (max-width:1100px){
    .areaSquare{width: 50%;}
    .blogSquare{width: 50%;}
    #areasOuterContainer{overflow-x:hidden}
}
@media (max-width:1024px){
    .areaSquare{width: 50%;}
    .blogSquare{width: 50%;}
    #areasOuterContainer{overflow-x:scroll}
}
@media (max-width:600px){
    .areaSquare{width: 100%;}
    .blogSquare{width: 100%;}
    #areasOuterContainer{overflow-x:scroll}
}

#areasInnerContainer{position: relative}

.areaSquare,.blogSquare{color:#fff;float: left;border-color: #fff;border-width: 1px;box-sizing: border-box;border-style: solid;position: relative}
.areaSquareTitle,.blogSquareTitle{font-weight: 100;font-size: 1.5em; text-transform: uppercase;}
.areaSquareBody{margin: 1em;text-align: center;}
.blogSquareBody{line-height: 1em;max-height: 10em;overflow: hidden;margin-top: 1em;margin-bottom: 2em;}
.areaSquareLink,.blogSquareLink {color: #fff;position: absolute;bottom: 20px;right: 20px;}
.areaSquareContent,.blogSquareContent { height: 100%;padding: 20px;background-color: rgba(0,0,0,0.5);}
.areaSquareContent:hover,.blogSquareContent:hover{background-color: rgba(0,0,0,0.7);}
.blogSquareDots{ text-align: center;width: 100%;position: absolute;bottom: 2.5em;}


#abcReuniao{margin-left: 20%;margin-right: 20%;}
@media (max-width:750px){
    #abcReuniao{margin-left: 0%;margin-right: 0%;}
}
#abcReuniao>* {width: 100%;margin-bottom:2em}
#abcReuniao>input{ border-bottom: black;border-bottom-width: 1px;border-bottom-style: solid;border-left: none;border-top: none;border-right: none;border-bottom-color: #4ebead;font-weight: 400;font-stretch: normal;font-size: 1em;}
#abcReuniao>a{color:#777777;cursor:pointer}

.message {width: 100%;border-width: 2px;border-style: solid;margin: 1em;padding-bottom: 1em;padding-top: 1em;}
.message.green{background-color: lightgreen;border-color: darkseagreen;}
.message.red{background-color: lightcoral;border-color: darkred;}
.message i{position: absolute;right: 3em;}

.mobileMenu{display: none;position: absolute;min-width: 100%;bottom: 0em;top: 10em;background: #fff;z-index: 999;text-align: center;}
.mobileMenu ul a {font-size: 1em; color: #777;cursor: pointer}
.mobileMenu ul {list-style-type: none; padding-left: 0px;padding-top: 3em; padding-right: 0px;}
.mobileMenu ul li {list-style-type: none; padding: 10px; text-transform: capitalize;}
.mobileMenu ul li:hover{color:#2d2d2d}

.hamburgerOn{overflow: hidden}
.hamburgerOn .mobileMenu{display:block}


.footer{ background-color: #fafafa;padding-left: 1em;padding-right: 1em;}
.footer .big{font-weight: 100;font-size: 2em;text-transform: uppercase;color: #4ebead;padding-bottom: 1em;}
.contacts>div{ width: 50%;float: left;margin-top: 1em;}
.map{float: left}
.social{ float: left;text-align: center; margin-top: 1em;}
.socialIcon{ line-height: 2em;font-size: 2em;border-radius: 50%;width: 2em;display: inline-block;color: #FAFAFA;background-color: #4EBEAD;margin: 5px;}
.disclaimer{border-bottom-color: #4ebead;border-bottom-style: solid;border-bottom-width: 1px;padding-left: 1em;padding-right: 1em;}



@media (min-width:801px){
    .footer{height: 160px;}
    .contacts{width:40%}
    .map{width:40%}
    .social{ width: 20%}
}
@media (max-width:800px){
    .footer{height: 305px;}
    .contacts{width:50%}
    .map{width:50%}
    .social{ width: 100%}
}
@media (max-width:600px){
    .contacts{width:100%}
    .map{width:100%;padding-top: 1em;}
    .social{ width: 100%;padding-bottom: 1em;}
    .footer{height:450px}
}

.pageTitle{position: absolute;font-weight: 100;color: #fff;text-transform: uppercase;}


@media (min-width:501px){
    .pageTitle{
        padding-left: 3.3em;top: 4.5em;font-size: 2.5em;
    }
}
@media (max-width:500px){
    .pageTitle{padding-left: 0em;top: 6em;font-size: 2em;}
}



@media (min-width:851px){
    .personCard{ width:33%;}
    .personPicture{ height: 30vw;}
}
@media (max-width:850px){
    .personCard{ width:50%;}
    .personPicture{ height: 40vw;}
}
@media (max-width:550px){
    .personCard{ width:100%;}
    .personPicture{ height: 60vw;}
}

.personCard{ display: inline-block; overflow: hidden;height: 620px;position: relative;margin-bottom: 1em}
.personPicture{ background-size: cover;}
.personCard .sectionTitle{margin-top:1em}
.personCard .sectionBody{ overflow: hidden;}
.personCard .sectionLink{ bottom: 0em;position: absolute;width: 100%;right: 0px;height: 4em;background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40% );}
.personCard .sectionLink a{ bottom: 0px;position: absolute;}

@media (min-width:801px){
    .testimonial{
        padding-top: 2em;
        margin-left: 10%;
        margin-right: 10%;
    }
    .testimonial img{
        vertical-align: top;
        width: 33%;
    }
    .testimonial .section{
        display: inline-block;
        width: 66%;
        margin: 0em;
    }
}
@media (max-width:800px){
    .testimonial{
        padding-top: 2em;
        margin-left: 0%;
        margin-right: 0%;
    }
    .testimonial img{
        vertical-align: top;
        width: 33%;
    }
    .testimonial .section{
        display: inline-block;
        margin: 0em;
        width: 66%;
    }
}
@media (max-width:600px){
    .testimonial{
        padding-top: 0em;
        margin-left: 0%;
        margin-right: 0%;
    }
    .testimonial img{
        vertical-align: top;
        width: 100%;
    }
    .testimonial .section{
        display: inline-block;
        width: 100%;
        margin: 0em;
    }
}

.comunicacao .sectionBody{text-align: justify;}
.comunicacao .section .date{text-align: justify;}
.comunicacao .section .sectionTitle{text-align: justify}
.comunicacao .sectionBody{ height: 10em;overflow: hidden;}
.comunicacao .sectionLink{height: 4em;line-height: 10em;position: relative;bottom: 5em;background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 65% );  }

.post .sectionBody{text-align: justify;}
.post .section .date{text-align: justify;}
.post .section .author{text-align: justify;}
.post .section .sectionTitle{text-align: justify}

.areasMenu{display: inline-block;margin: 0px;vertical-align: top;}
.areasList{display: inline-block;margin: 0px;}
.areasMenu ul{list-style: none;margin-top: 5em;}
.areasMenu ul li{cursor:pointer;border-bottom-color: #4ebead;border-bottom-style: solid;border-bottom-width: 1px; margin-bottom: 1em;line-height: 2em;font-weight: 100;}
.areasMobileMenu .active, .areasMenu .active{font-weight: bold}
.areasMobileMenu .active, .areasList .active{display:block!important;}
.areasList .sectionBody{text-align: justify;}

.areasMobileMenu{ width: 100%;overflow-x: scroll;background-color: #d2d2d2;}
.areasMobileMenu li{cursor:pointer;margin-bottom: 1em;display: none}
.areasMobileMenu ul{ margin-top: 1em;}
.areaBurger{ position: absolute;margin-top: 1em;left: 1em;}

@media (min-width:801px){
    .areasMenu{width: 29%;}
    .areasList{width: 70%;}
    .areasMobileMenu {display:none}
}
@media (max-width:800px){
    .areasMenu{display:none}
    .areasList{width: 100%;}
    .areasList .section{margin: 0em;}
    .areasList .sectionTitle{display:none}
    .areasMobileMenu {display:block}
}

.areasBurgerOn li{display:block!important}

.teamSearch{background-color: #d2d2d2;height: 4em;}
.searchControls{position: relative;width: 90%;left: 5%;}
.searchControls i{position: absolute;left: 1em;top: 1.5em;}
#teamSearch{font-size: 1em;border-style: none;border-radius: 1em;height: 2em;margin-top: 1em;padding-left: 2em;width: 100%;}



@media (min-width:1025px){
    .teamList .section{width:33%;margin:0em;display: inline-block;}
}
@media (max-width:1024px){
    .teamList .section{width:50%;margin:0em;display: inline-block;}
}
@media (max-width:600px){
    .teamList .section{width:100%;margin:0em;display: inline-block;}
}
.teamList{ padding: 1em;}
.teamList .sectionTitle{padding-left: 0em;padding-right: 0em;}