
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,select,textarea{font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}

html,body{font-family:Verdana,sans-serif;font-size:14px;line-height:1.5;color:#171717}


html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.abc-slim,.abc-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.abc-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.abc-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.abc-table,.abc-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.abc-table-all{border:1px solid #ccc}
.abc-bordered tr,.abc-table-all tr{border-bottom:1px solid #ddd}
.abc-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.abc-table-all tr:nth-child(odd){background-color:#fff}
.abc-table-all tr:nth-child(even){background-color:#f1f1f1}
.abc-hoverable tbody tr:hover,.abc-ul.abc-hoverable li:hover{background-color:#ccc}
.abc-centered tr th,.abc-centered tr td{text-align:center}
.abc-table td,.abc-table th,.abc-table-all td,.abc-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.abc-table th:first-child,.abc-table td:first-child,.abc-table-all th:first-child,.abc-table-all td:first-child{padding-left:16px}
.abc-btn,.abc-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.abc-disabled,.abc-btn:disabled,.abc-btn-floating:disabled,.abc-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.abc-btn.abc-disabled *,.abc-btn-block.abc-disabled,.abc-btn-floating.abc-disabled *,.abc-btn:disabled *,.abc-btn-floating:disabled *{pointer-events:none}
.abc-btn.abc-disabled:hover,.abc-btn-block.abc-disabled:hover,.abc-btn:disabled:hover,.abc-btn-floating.abc-disabled:hover,.abc-btn-floating:disabled:hover,
.abc-btn-floating-large.abc-disabled:hover,.abc-btn-floating-large:disabled:hover{box-shadow:none}
.abc-btn:hover,.abc-btn-block:hover,.abc-btn-floating:hover,.abc-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.abc-btn-block{width:100%}
.abc-btn,.abc-btn-floating,.abc-btn-floating-large,.abc-closenav,.abc-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.abc-btn-floating,.abc-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.abc-btn-floating{width:40px;height:40px;line-height:40px}
.abc-btn-floating-large{width:56px;height:56px;line-height:56px}
.abc-btn-group .abc-btn{float:left}
.abc-btn-bar .abc-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}
.abc-btn-bar .abc-btn:hover{background-color:#ccc}
.abc-ripple{position:relative;overflow:hidden}
.abc-ripple:after{content:"";background:#ccc;position:absolute;padding:300%;bottom:0;left:0;opacity:0;transition:0.8s}
.abc-ripple:active:after{padding:0;opacity:1;transition:0s}
.abc-badge,.abc-tag,.abc-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.abc-badge{border-radius:50%}
ul.abc-ul{list-style-type:none;padding:0;margin:0}
ul.abc-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.abc-ul li:last-child{border-bottom:none}
.abc-tooltip,.abc-display-container{position:relative}
.abc-fluid{max-width:100%;height:auto}
.abc-tooltip .abc-text{display:none}
.abc-tooltip:hover .abc-text{display:inline-block}
.abc-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.abc-navbar li{float:left}.abc-navbar li a,.abc-navitem{display:block;padding:0px 16px;}.abc-navbar li a:hover{color:#000;background-color:#ccc}
.abc-navbar .abc-dropdown-hover,.abc-navbar .abc-dropdown-click{position:static}
.abc-navbar .abc-dropdown-hover:hover,.abc-navbar .abc-dropdown-hover:first-child,.abc-navbar .abc-dropdown-click:hover{background-color:#ccc;color:#000}
.abc-navbar a,.abc-topnav a,.abc-sidenav a,.abc-dropdown-content a,.abc-accordion-content a,.abc-dropnav a{text-decoration:none!important}
.abc-navbar .abc-opennav.abc-right{float:right!important}.abc-topnav{padding:8px 8px}
.abc-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.abc-topnav a:hover{border-bottom:3px solid #fff}.abc-topnav .abc-dropdown-hover a{border-bottom:0}
.abc-opennav,.abc-closenav{color:inherit}.abc-opennav:hover,.abc-closenav:hover{cursor:pointer;opacity:0.8}
.abc-btn,.abc-btn-floating,.abc-dropnav a,.abc-btn-floating-large,.abc-btn-block,.abc-hover-shadow,.abc-hover-opacity,.abc-hover-opacity-off,
.abc-navbar a,.abc-sidenav a,.abc-pagination li a,.abc-hoverable tbody tr,.abc-hoverable li,.abc-accordion-content a,.abc-dropdown-content a,.abc-dropdown-click:hover,.abc-dropdown-hover:hover,.abc-opennav,.abc-closenav,.abc-closebtn,
.abc-hover-amber,.abc-hover-aqua,.abc-hover-blue,.abc-hover-light-blue,.abc-hover-brown,.abc-hover-cyan,.abc-hover-blue-grey,.abc-hover-green,.abc-hover-light-green,.abc-hover-indigo,.abc-hover-khaki,.abc-hover-lime,.abc-hover-orange,.abc-hover-deep-orange,.abc-hover-pink,
.abc-hover-purple,.abc-hover-deep-purple,.abc-hover-red,.abc-hover-sand,.abc-hover-teal,.abc-hover-yellow,.abc-hover-white,.abc-hover-black,.abc-hover-grey,.abc-hover-light-grey,.abc-hover-dark-grey,.abc-hover-text-amber,.abc-hover-text-aqua,.abc-hover-text-blue,.abc-hover-text-light-blue,
.abc-hover-text-brown,.abc-hover-text-cyan,.abc-hover-text-blue-grey,.abc-hover-text-green,.abc-hover-text-light-green,.abc-hover-text-indigo,.abc-hover-text-khaki,.abc-hover-text-lime,.abc-hover-text-orange,.abc-hover-text-deep-orange,.abc-hover-text-pink,.abc-hover-text-purple,
.abc-hover-text-deep-purple,.abc-hover-text-red,.abc-hover-text-sand,.abc-hover-text-teal,.abc-hover-text-yellow,.abc-hover-text-white,.abc-hover-text-black,.abc-hover-text-grey,.abc-hover-text-light-grey,.abc-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.abc-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.abc-sidenav a{padding:4px 2px 4px 16px}.abc-sidenav a:hover{background-color:#ccc}.abc-sidenav a,.abc-dropnav a{display:block}
.abc-sidenav .abc-dropdown-hover:hover,.abc-sidenav .abc-dropdown-hover:first-child,.abc-sidenav .abc-dropdown-click:hover,.abc-dropnav a:hover{background-color:#ccc;color:#000}
.abc-sidenav .abc-dropdown-hover,.abc-sidenav .abc-dropdown-click {width:100%}.abc-sidenav .abc-dropdown-hover .abc-dropdown-content,.abc-sidenav .abc-dropdown-click .abc-dropdown-content{min-width:100%}
.abc-main,#main{transition:margin-left .4s}
.abc-modal{z-index:10;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.abc-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.abc-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.abc-closebtn:hover,.abc-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.abc-pagination{display:inline-block;padding:0;margin:0}.abc-pagination li{display:inline}
.abc-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.abc-pagination li a:hover{background-color:#ccc}
.abc-input-group,.abc-group{margin-top:24px;margin-bottom:24px}
.abc-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.abc-label{color:#4EBEAD}.abc-input:not(:valid)~.abc-validate{color:#f44336}
.abc-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #4EBEAD}
.abc-select select:focus{color:#000;border:1px solid #4EBEAD}.abc-select option[disabled]{color:#4EBEAD}
.abc-dropdown-click,.abc-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.abc-dropdown-hover:hover .abc-dropdown-content{display:block;z-index:1}
.abc-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.abc-dropdown-content a{padding:6px 16px;display:block}
.abc-dropdown-content a:hover{background-color:#ccc}
.abc-accordion {width:100%;cursor:pointer}
.abc-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.abc-accordion-content a{padding:6px 16px;display:block}.abc-accordion-content a:hover{background-color:#ccc}
.abc-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.abc-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].abc-check,input[type=radio].abc-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].abc-check:checked+.abc-validate,input[type=radio].abc-radio:checked+.abc-validate{color:#4EBEAD} 
input[type=checkbox].abc-check:disabled+.abc-validate,input[type=radio].abc-radio:disabled+.abc-validate{color:#aaa}
.abc-responsive{overflow-x:auto}
.abc-container:after,.abc-panel:after,.abc-row:after,.abc-row-padding:after,.abc-topnav:after,.abc-clear:after,.abc-btn-group:before,.abc-btn-group:after,.abc-btn-bar:before,.abc-btn-bar:after
{content:"";display:table;clear:both}
.abc-col,.abc-half,.abc-third,.abc-twothird,.abc-threequarter,.abc-quarter{float:left;width:100%}
.abc-col.s1{width:8.33333%}
.abc-col.s2{width:16.66666%}
.abc-col.s3{width:24.99999%}
.abc-col.s4{width:33.33333%}
.abc-col.s5{width:41.66666%}
.abc-col.s6{width:49.99999%}
.abc-col.s7{width:58.33333%}
.abc-col.s8{width:66.66666%}
.abc-col.s9{width:74.99999%}
.abc-col.s10{width:83.33333%}
.abc-col.s11{width:91.66666%}
.abc-col.s12,.abc-half,.abc-third,.abc-twothird,.abc-threequarter,.abc-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.abc-col.m1{width:8.33333%}
.abc-col.m2{width:16.66666%}
.abc-col.m3,.abc-quarter{width:24.99999%}
.abc-col.m4,.abc-third{width:33.33333%}
.abc-col.m5{width:41.66666%}
.abc-col.m6,.abc-half{width:49.99999%}
.abc-col.m7{width:58.33333%}
.abc-col.m8,.abc-twothird{width:66.66666%}
.abc-col.m9,.abc-threequarter{width:74.99999%}
.abc-col.m10{width:83.33333%}
.abc-col.m11{width:91.66666%}
.abc-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.abc-col.l1{width:8.33333%}
.abc-col.l2{width:16.66666%}
.abc-col.l3,.abc-quarter{width:24.99999%}
.abc-col.l4,.abc-third{width:33.33333%}
.abc-col.l5{width:41.66666%}
.abc-col.l6,.abc-half{width:49.99999%}
.abc-col.l7{width:58.33333%}
.abc-col.l8,.abc-twothird{width:66.66666%}
.abc-col.l9,.abc-threequarter{width:74.99999%}
.abc-col.l10{width:83.33333%}
.abc-col.l11{width:91.66666%}
.abc-col.l12{width:99.99999%}}
.abc-content{max-width:980px;margin:auto}
.abc-rest{overflow:hidden}
.abc-hide{display:none!important}.abc-show-block,.abc-show{display:block!important}.abc-show-inline-block{display:inline-block!important}
@media (max-width:600px){.abc-modal-content{margin:0 10px;width:auto!important}.abc-modal{padding-top:30px}}
@media (max-width:768px){.abc-modal-content{width:500px}.abc-modal{padding-top:50px}}
@media (min-width:993px){.abc-modal-content{width:900px}}
@media screen and (max-width:600px){.abc-topnav a{display:block}.abc-navbar li:not(.abc-opennav){float:none;width:100%!important}.abc-navbar li.abc-right{float:none!important}}	
@media screen and (max-width:600px){.abc-topnav .abc-dropdown-hover .abc-dropdown-content,.abc-navbar .abc-dropdown-click .abc-dropdown-content,.abc-navbar .abc-dropdown-hover .abc-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.abc-topnav,.abc-navbar{text-align:center}}
@media (max-width:600px){.abc-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.abc-hide-medium{display:none!important}}
@media (min-width:993px){.abc-hide-large{display:none!important}}
@media screen and (max-width:992px){.abc-sidenav.abc-collapse{display:none}.abc-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.abc-sidenav.abc-collapse{display:block!important}}
.abc-top,.abc-bottom{position:fixed;width:100%;z-index:1}.abc-top{top:0}.abc-bottom{bottom:0}
.abc-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.abc-left{float:left!important}.abc-right{float:right!important}
.abc-tiny{font-size:10px!important}.abc-small{font-size:12px!important}
.abc-medium{font-size:15px!important}.abc-large{font-size:18px!important}
.abc-xlarge{font-size:24px!important}.abc-xxlarge{font-size:36px!important}
.abc-xxxlarge{font-size:48px!important}.abc-jumbo{font-size:64px!important}
.abc-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.abc-left-align{text-align:left!important}.abc-right-align{text-align:right!important}
.abc-justify{text-align:justify!important}.abc-center{text-align:center!important}
.abc-display-topleft{position:absolute;left:0;top:0}.abc-display-topright{position:absolute;right:0;top:0}
.abc-display-bottomleft{position:absolute;left:0;bottom:0}.abc-display-bottomright{position:absolute;right:0;bottom:0}
.abc-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.abc-display-topmiddle{position:absolute;left:0;top:0;width:100%;text-align:center}.abc-display-bottommiddle{position:absolute;left:0;bottom:0;width:100%;text-align:center}
.abc-circle{border-radius:50%!important}
.abc-round-small{border-radius:2px!important}.abc-round,.abc-round-medium{border-radius:4px!important}
.abc-round-large{border-radius:8px!important}.abc-round-xlarge{border-radius:16px!important}
.abc-round-xxlarge{border-radius:32px!important}.abc-round-jumbo{border-radius:64px!important}
.abc-border-0{border:0!important}
.abc-border{border:1px solid #ccc!important}
.abc-border-top{border-top:1px solid #ccc!important}.abc-border-bottom{border-bottom:1px solid #ccc!important}
.abc-border-left{border-left:1px solid #ccc!important}.abc-border-right{border-right:1px solid #ccc!important}
.abc-margin{margin:16px!important}.abc-margin-0{margin:0!important}
.abc-margin-top{margin-top:16px!important}.abc-margin-bottom{margin-bottom:16px!important}
.abc-margin-left{margin-left:16px!important}.abc-margin-right{margin-right:16px!important}
.abc-section{margin-top:16px!important;margin-bottom:16px!important}
.abc-padding-tiny{padding:2px 4px!important}.abc-padding-small{padding:4px 8px!important}
.abc-padding-medium,.abc-padding,.abc-form{padding:8px 16px!important}
.abc-padding-large{padding:12px 24px!important}.abc-padding-xlarge{padding:16px 32px!important}
.abc-padding-xxlarge{padding:24px 48px!important}.abc-padding-jumbo{padding:32px 64px!important}
.abc-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.abc-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.abc-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.abc-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.abc-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.abc-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.abc-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.abc-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.abc-padding-97{padding-top:97px!important;padding-bottom:97px!important}
.abc-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.abc-padding-0{padding:0!important}
.abc-padding-top{padding-top:8px!important}.abc-padding-bottom{padding-bottom:8px!important}
.abc-padding-left{padding-left:16px!important}.abc-padding-right{padding-right:16px!important}
.abc-topbar{border-top:6px solid #ccc!important}.abc-bottombar{border-bottom:6px solid #ccc!important}
.abc-leftbar{border-left:6px solid #ccc!important}.abc-rightbar{border-right:6px solid #ccc!important}
.abc-row-padding,.abc-row-padding>.abc-half,.abc-row-padding>.abc-third,.abc-row-padding>.abc-twothird,.abc-row-padding>.abc-threequarter,.abc-row-padding>.abc-quarter,.abc-row-padding>.abc-col{padding:0 8px}
.abc-spin{animation:abc-spin 2s infinite linear;-webkit-animation:abc-spin 2s infinite linear}
@-webkit-keyframes abc-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes abc-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.abc-container{padding:0.01em 16px}
.abc-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.abc-example{background-color:#f1f1f1;padding:0.01em 16px}
.abc-code,.abc-codespan{font-family:Consolas,"courier new";font-size:16px}
.abc-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4EBEAD;word-wrap:break-word}
.abc-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.abc-example,.abc-code,.abc-reference{margin:20px 0}
.abc-card{border:1px solid #ccc}
.abc-card-2,.abc-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.abc-card-4,.abc-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.abc-card-4{margin-left: auto;margin-right:auto;width:90%}
.abc-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.abc-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.abc-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.abc-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.abc-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.abc-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.abc-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.abc-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.abc-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.abc-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.abc-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.abc-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.abc-animate-input:focus{width:100%!important}
.abc-opacity,.abc-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.abc-opacity-off,.abc-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.abc-text-shadow{text-shadow:1px 1px 0 #444}.abc-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.abc-transparent{background-color:transparent!important}
.abc-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Start of colors */
.abc-amber,.abc-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.abc-aqua,.abc-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.abc-blue,.abc-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.abc-light-blue,.abc-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.abc-brown,.abc-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.abc-cyan,.abc-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.abc-blue-grey,.abc-hover-blue-grey:hover{color:#fff!important;background-color:#607d8b!important}
.abc-green,.abc-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.abc-light-green,.abc-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.abc-indigo,.abc-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.abc-khaki,.abc-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.abc-lime,.abc-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.abc-orange,.abc-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.abc-deep-orange,.abc-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.abc-pink,.abc-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.abc-purple,.abc-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.abc-deep-purple,.abc-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.abc-red,.abc-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.abc-sand,.abc-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.abc-teal,.abc-hover-teal:hover{color:#fff!important;background-color:#4EBEAD!important}
.abc-yellow,.abc-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.abc-white,.abc-hover-white:hover{color:#000!important;background-color:#fff!important}
.abc-black,.abc-hover-black:hover{color:#fff!important;background-color:#000!important}
.abc-grey,.abc-hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.abc-light-grey,.abc-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.abc-dark-grey,.abc-hover-dark-grey:hover{color:#fff!important;background-color:#616161!important}
.abc-pale-red,.abc-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.abc-pale-green,.abc-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.abc-pale-yellow,.abc-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.abc-pale-blue,.abc-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.abc-text-amber,.abc-hover-text-amber:hover{color:#ffc107!important}
.abc-text-aqua,.abc-hover-text-aqua:hover{color:#00ffff!important}
.abc-text-blue,.abc-hover-text-blue:hover{color:#2196F3!important}
.abc-text-light-blue,.abc-hover-text-light-blue:hover{color:#87CEEB!important}
.abc-text-brown,.abc-hover-text-brown:hover{color:#795548!important}
.abc-text-cyan,.abc-hover-text-cyan:hover{color:#00bcd4!important}
.abc-text-blue-grey,.abc-hover-text-blue-grey:hover{color:#607d8b!important}
.abc-text-green,.abc-hover-text-green:hover{color:#4CAF50!important}
.abc-text-light-green,.abc-hover-text-light-green:hover{color:#8bc34a!important}
.abc-text-indigo,.abc-hover-text-indigo:hover{color:#3f51b5!important}
.abc-text-khaki,.abc-hover-text-khaki:hover{color:#b4aa50!important}
.abc-text-lime,.abc-hover-text-lime:hover{color:#cddc39!important}
.abc-text-orange,.abc-hover-text-orange:hover{color:#ff9800!important}
.abc-text-deep-orange,.abc-hover-text-deep-orange:hover{color:#ff5722!important}
.abc-text-pink,.abc-hover-text-pink:hover{color:#e91e63!important}
.abc-text-purple,.abc-hover-text-purple:hover{color:#9c27b0!important}
.abc-text-deep-purple,.abc-hover-text-deep-purple:hover{color:#673ab7!important}
.abc-text-red,.abc-hover-text-red:hover{color:#f44336!important}
.abc-text-sand,.abc-hover-text-sand:hover{color:#fdf5e6!important}
.abc-text-teal,.abc-hover-text-teal:hover{color:#4EBEAD!important}
.abc-text-yellow,.abc-hover-text-yellow:hover{color:#d2be0e!important}
.abc-text-white,.abc-hover-text-white:hover{color:#fff!important}
.abc-text-black,.abc-hover-text-black:hover{color:#000!important}
.abc-text-grey,.abc-hover-text-grey:hover{color:#757575!important}
.abc-text-light-grey,.abc-hover-text-light-grey:hover{color:#f1f1f1!important}
.abc-text-dark-grey,.abc-hover-text-dark-grey:hover{color:#3a3a3a!important}
.abc-border-amber,.abc-hover-border-amber:hover{border-color:#ffc107!important}
.abc-border-aqua,.abc-hover-border-aqua:hover{border-color:#00ffff!important}
.abc-border-blue,.abc-hover-border-blue:hover{border-color:#2196F3!important}
.abc-border-light-blue,.abc-hover-border-light-blue:hover{border-color:#87CEEB!important}
.abc-border-brown,.abc-hover-border-brown:hover{border-color:#795548!important}
.abc-border-cyan,.abc-hover-border-cyan:hover{border-color:#00bcd4!important}
.abc-border-blue-grey,.abc-hover-blue-grey:hover{border-color:#607d8b!important}
.abc-border-green,.abc-hover-border-green:hover{border-color:#4CAF50!important}
.abc-border-light-green,.abc-hover-border-light-green:hover{border-color:#8bc34a!important}
.abc-border-indigo,.abc-hover-border-indigo:hover{border-color:#3f51b5!important}
.abc-border-khaki,.abc-hover-border-khaki:hover{border-color:#f0e68c!important}
.abc-border-lime,.abc-hover-border-lime:hover{border-color:#cddc39!important}
.abc-border-orange,.abc-hover-border-orange:hover{border-color:#ff9800!important}
.abc-border-deep-orange,.abc-hover-border-deep-orange:hover{border-color:#ff5722!important}
.abc-border-pink,.abc-hover-border-pink:hover{border-color:#e91e63!important}
.abc-border-purple,.abc-hover-border-purple:hover{border-color:#9c27b0!important}
.abc-border-deep-purple,.abc-hover-border-deep-purple:hover{border-color:#673ab7!important}
.abc-border-red,.abc-hover-border-red:hover{border-color:#f44336!important}
.abc-border-sand,.abc-hover-border-sand:hover{border-color:#fdf5e6!important}
.abc-border-teal,.abc-hover-border-teal:hover{border-color:#4EBEAD!important}
.abc-border-yellow,.abc-hover-border-yellow:hover{border-color:#ffeb3b!important}
.abc-border-white,.abc-hover-border-white:hover{border-color:#fff!important}
.abc-border-black,.abc-hover-border-black:hover{border-color:#000!important}
.abc-border-grey,.abc-hover-border-grey:hover{border-color:#9e9e9e!important}
.abc-border-light-grey,.abc-hover-border-light-grey:hover{border-color:#f1f1f1!important}
.abc-border-dark-grey,.abc-hover-border-dark-grey:hover{border-color:#616161!important}
.abc-border-pale-red,.abc-hover-border-pale-red:hover{border-color:#ffe7e7!important}.abc-border-pale-green,.abc-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.abc-border-pale-yellow,.abc-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.abc-border-pale-blue,.abc-hover-border-pale-blue:hover{border-color:#e7ffff!important}




.abc-theme-l6 {color:#777 !important; background-color:#ffffff !important}
.abc-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.abc-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.abc-theme-l3 {color:#fff !important; background-color:#999999 !important}
.abc-theme-l2 {color:#fff !important; background-color:#666666 !important}
.abc-theme-l1 {color:#fff !important; background-color:#333333 !important}
.abc-theme-d1 {color:#fff !important; background-color:#333333 !important}
.abc-theme-d2 {color:#fff !important; background-color:#4EBEAD !important}
.abc-theme-d3 {color:#fff !important; background-color:#000000 !important}
.abc-theme-d4 {color:#fff !important; background-color:#000000 !important}
.abc-theme-d5 {color:#fff !important; background-color:#000000 !important}

.abc-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.abc-theme-dark {color:#fff !important; background-color:#000000 !important}
.abc-theme-action {color:#fff !important; background-color:#000000 !important}

.abc-theme {color:#fff !important; background-color:#4EBEAD !important}
.abc-text-theme {color:#000000 !important}
.abc-border-theme {border-color:#000000 !important}

.abc-hover-theme:hover {color:#000 !important; background-color:#ffc107 !important}
.abc-hover-text-theme:hover {color:#000000 !important}
.abc-hover-border-theme:hover {border-color:#000000 !important}



#photoslide {padding-top: 6em;}

.abc-testemunho-corpo{
	max-height: 200px;
    overflow: hidden;
    color: #171717;
    font-size: 11px;
}

.abc-testemunho-botao{
    margin-top: -40px;
    margin-bottom: -1px;
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 20px;
    padding-bottom: 1px;
    padding-left: 16px;
    background: red;
    background: -webkit-linear-gradient(white, #000);
    background: -o-linear-gradient(white, #000);
    background: -moz-linear-gradient(white, #000);
    background: linear-gradient(white, #4EBEAD);
    opacity: 0.5;
}


.zoneSplitter{width: 100%;left: 0;position: absolute;}
.zoneSplitter div{min-height: 40px;width:50%;float:left}
.zoneSplitter.fromDark{background:#FFF;color:#FFF;}
.zoneSplitter.fromDark .right{background: linear-gradient(to right bottom, #4EBEAD 50%, #FFF 51%);}
.zoneSplitter.fromDark .left{background: linear-gradient(to left bottom, #4EBEAD 50%, #FFF 51%);}
.zoneSplitter.toDark{background:#4EBEAD;color:#4EBEAD;}
.zoneSplitter.toDark .right{background: linear-gradient(to right bottom, #FFF 50%, #4EBEAD 51%);}
.zoneSplitter.toDark .left{background: linear-gradient(to left bottom, #FFF 50%, #4EBEAD 51%);}
.afterSplitter{margin-top:100px}


.zoneDark{background-color: #4EBEAD;color:#fff;padding-top: 50px;}
.zoneLight{background-color: #FFF;padding-top: 50px;}
.abc-team-member{
    width: 100px;
    height: 100px;
    background-position: center !important;
    border-radius: 50px;
    border: 4px;
    border-color: #d2d2d2;
    border-style: solid;
    display: block;
    margin: auto;
}
.abc-team-chevron, .abc-blog-chevron{
    font-size: 5em !important;
    line-height: 1.5em !important;
}


.imageDeleteButton{
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    cursor: pointer;
    background-color: #d9534f;
    padding-bottom: 5px;
    padding-right: 10px;
}

.menu-logo{
    display: inline-block;
    background-image: url('/assets/images/ABCLEGAL-branco.png');
    width: 335px;
    height: 170px;
}

.abc-top:hover,.abc-top:hover #languageSelector,.abc-top:hover ul{
    color:#4EBEAD !important
}
/*.abc-top:hover .menu-logo{
    background-image: url('/assets/images/ABCLEGAL.png');
}
*/